Dataset Loading

In [18]:
import pandas as pd 
import numpy as np  
df = pd.read_csv("Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,NaN,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,NaN,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,NaN,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              530 non-null    float64
 2   bedrooms          536 non-null    float64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 55.5+ KB

In [20]:
df.isnull().sum()

price                0
area                15
bedrooms             9
bathrooms            0
stories              0
mainroad             0
guestroom            0
basement             0
hotwaterheating      0
airconditioning      0
parking              0
prefarea             0
furnishingstatus     0
dtype: int64

In [21]:
df.mainroad.unique()

array(['yes', 'no'], dtype=object)

Train-Test Split

In [22]:
from sklearn.model_selection import train_test_split
X = df.drop('price', axis=1)
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)
X_train.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420.0,NaN,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,NaN,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,NaN,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished

SimpleImputer Transformer on Area

In [23]:
from sklearn.impute import SimpleImputer
#define Imputer
si = SimpleImputer(missing_values=np.nan, strategy='mean')
#train it
si.fit(X_train[['area']])

#transform will return a numpy array that will be assigned to area column of dataframe
X_train['area'] = si.transform(X_train[['area']])
X_test['area'] = si.transform(X_test[['area']])
X_train.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420.000000,NaN,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960.000000,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,5419.631829,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,5419.631829,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420.000000,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished

Simple Imputer transformer on Number of bed rooms
Note: In case of number of bedrooms, the best way I think is to train a model based on area and bedroom numbers but it will make current model more complex so i'll use simple imputer with mean strategy on it

In [24]:
#train 2nd imputer for bedrooms
si1 = SimpleImputer(missing_values=np.nan, strategy='median')
#train imputer
si1.fit(X_train[['bedrooms']])

#transform the columns

X_train[['bedrooms']] = si1.transform(X_train[['bedrooms']])
X_test[['bedrooms']] = si1.transform(X_test[['bedrooms']])


X_train.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420.000000,3.0,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960.000000,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,5419.631829,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,5419.631829,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420.000000,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished