Dataset Loading

In [7]:
import pandas as pd 
import numpy as np  
df = pd.read_csv("Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,NaN,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,NaN,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,NaN,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              530 non-null    float64
 2   bedrooms          536 non-null    float64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 55.5+ KB